<!DOCTYPE html>
<head>
	<!--[if lt IE 7]>
	<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>
	<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>
	<html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!-->
	<html class="no-js"> <!--<![endif]-->
	<head>

		<!-- Required for IE6/IE7 cross-origin support -->
		<meta name="kaazing:postMessageBridgeURL" content="PostMessageBridge.html">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="icon" href="images/favicon.ico">
		<title>Hermes | Monitors</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/dev.css">
		<link rel="stylesheet" href="css/demo.css">

		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/npm-modernizr/modernizr.js"></script>
		<script src="js/d3.v3.min.js"></script>
		<script type="text/javascript" language="javascript"
				src="node_modules/kaazing-javascript-gateway-client/WebSocket.js"></script>
		<script type="text/javascript" language="javascript"
				src="node_modules/kaazing-javascript-amqp-client/AmqpClient.js"></script>
		
		<script type="text/javascript" language="javascript" src="js/graphs.js"></script>
		<style type="text/css" media="screen">
			#middle input {
				width: auto;
				margin-right: 10px;
			}

			#middle label {
				width: auto;
				text-align: left;
				margin-right: 0px;
			}
		</style>
		

		<title>Real-Time Crioprecipitati Hermes' cool GUI</title>
	</head>
<body>
<div class="header-container">
	<header class="wrapper clearfix">
		<a href="http://www.kaazing.com" target="_blank">
			<div class="title logo"></div>
		</a>
	</header>
</div>

<div class="main-container ">
	<div class="main wrapper clearfix">

		<article>
					<h1>Real-Time Crioprecipitati Hermes' cool GUI</h1>
						<div class="wrapper graph">
							<div class="graphOne"></div>
							<div class="graphTwo"></div>
							<div class="graphThree"></div>
							<script type="text/javascript" language="javascript" src="js/amqp.js"></script>
								
							<div><div>Temperatura: <div class="numParam" id="T"></div></div><br/>
								<div>ET CO2: <div class="numParam" id="EtCO2"></div></div><br/>
								<div>Saturazione O2: <div class="numParam" id="SpO2"></div></div></div>
					</div>
		</article>
	</div>
</div>
<div class="footer-container">
	<footer class="wrapper"></footer>
</div>
</body>
</html>
